{% extends "website/header.html" %}
{% block content %}
    <h2 class="container">The presentations page!</h2>
    <div style="padding-left:1000px">
      <a href="{% url 'presentations-create' %}" class="btn btn-secondary btn-sm mt-1 mb-1" style="background-color:green">Add new +</a>
      </div>
    <form action="" style="padding-top:20px">
      <input type="text" placeholder="Search.." name="search" id="search" value="{{search_term}}">
    </form>
   <style>
  input[type=text] {
  width: 120px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 8px 10px 12px 20px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
  width: 100%;
}
</style>
<table class="table" style="padding-top:100px">
    <thead>
      <tr>
        <th>Team Number</th>
        <th>Topic</th>
        <th>Details</th>
        <th>Download</th>
      </tr>
    </thead>
    <tbody>
    {% for presentation in presentations %}
      <tr>
        <td>{{ presentation.team_group_numbers }}</td>
        <td>{{ presentation.topic }}</td>
        <td><a class="btn btn-secondary btn-sm mt-1 mb-1" style="background-color:green; color:white;" href="{% url 'presentations-detail' presentation.id %}">Details</a></td>
          <td><a href="/media/{{ presentation.file }}" <button class="btn"><i class="fa fa-download"></i></button></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock content %}