{% extends "website/header.html" %}
{% block content %}
  <div class="container">
  <h3>{{ object.team_group_number_1 }} & {{ object.team_group_number_2 }}</h3>
  </div>
  <div style="padding-left:930px">
  <a href="{% url 'skits-list' %}"><i class="fa fa-arrow-left" style="font-size:24px; color:grey; padding-right:20px"></i></a>
  <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'skits-update' object.id %}">Update</a>
  <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'skits-delete' object.id %}">Delete</a>
  </div>
  <div>
    <div class="row" style="padding-top:50px;">
    <div class="column" style="padding-left:200px;">
    <object style="height: 400px; width: 700px;"><param name="movie" value="{{ object.video_url }}">
      <param name="allowFullScreen" value="true"><param name="allowScriptAccess" value="always">
      <embed src="{{ object.video_url }}"
             type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="640" height="390"></object>
  </div>
    </div>
    <div class="row" style="padding-top:50px;">
  <div class="col-sm-4">
    <img src="{{ object.image_1.url }}" height="250" width="360">
  </div>
      <div class="col-sm-4">
    <img src="{{ object.image_2.url }}" height="250" width="360">
  </div>
      <div class="col-sm-4">
    <img src="{{ object.image_3.url }}" height="250" width="360">
  </div>
</div>

  </div>

<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>
{% endblock content %}