{% extends "website/header.html" %}
{% block content %}
    <div class="container">
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add new entry</legend>
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ form.team_group_number|as_crispy_field }}
                    </div>
                    <div class="form-elem">
                    <div class="form-elem col-md-6 mb-0">
                        {{ form.team_member_1|as_crispy_field }}
                    </div>
                    <div class="form-elem col-md-6 mb-0">
                        {{ form.team_member_2|as_crispy_field }}
                    </div>
                    <div class="form-elem col-md-6 mb-0">
                        {{ form.team_member_3|as_crispy_field }}
                    </div>
                    <div class="form-elem col-md-6 mb-0">
                        {{ form.team_usn_1|as_crispy_field }}
                    </div>
                    <div class="form-elem col-md-6 mb-0">
                        {{ form.team_usn_2|as_crispy_field }}
                    </div>
                     </div><div class="form-elem col-md-6 mb-0">
                        {{ form.team_usn_3|as_crispy_field }}
                    </div>
                </div>



            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Submit</button>
            </div>
        </form>
    </div>
    </div>

{% endblock content %}